nav{
    background:rgba(0, 0, 0, 0.3);
    width:100%;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    display: flex ;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(15px);
}
nav a{
    background: transparent;
    padding: 0.9rem;
    display: flex;
    color: var(--color-light);
}
nav a:hover{
    color:var(--color-primary);
}

nav a.active{
    color:var(--color-primary);
}

  /*=============For Small Devices=============*/
  @media screen and (max-width:600px) {
    nav a{
        padding: 0.25rem;
    }
    
  }